:root {
  --primary-color: #f97316;
  --bg-light: #f8f9fa;
  --text-dark: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-light);
  color: var(--text-dark);
}
